/.idea
/IñigoAlonso.iml
/site/.classpath
/site/.project
/site/.springBeans
/site/.settings/
/site/.metadata/
/site/.RemoteSystemsTempFiles/
/site/.Servers/
/site/.gradle/
/site/build/
/site/bin/
/site/target/
/source-java/.metadata
/source-java/.recommenders
/source-java/Crawler/.classpath
/source-java/Crawler/.project
/source-java/Crawler/.settings/
/source-java/Crawler/.gitignore/
/source-java/RemoteSystemsTempFiles
/RemoteSystemsTempFiles/
/.metadata
