<div class="container">

              <hr class="featurette-divider">

              <div class="row featurette">
                <div class="col-md-7">
                  <h2 class="featurette-heading">Personalización de <span class="text-muted">crawlers</span></h2>
                  <p class="lead">A través de nuestra herramienta de personalización de crawlers, se puede crear de forma sencilla crawlers encofados adaptados
                     a tus necesidades. Tan solo tienes que insertar tu código de enfoque.</p>
                </div>
                <div class="col-md-5">
                  <img class="featurette-image img-responsive center-block" src="./fotos/configuration.png" alt="Generic placeholder image"/>
                </div>
              </div>
  </hr>
              <hr class="featurette-divider">

              <div class="row featurette">
                <div class="col-md-7 col-md-push-5">
                  <h2 class="featurette-heading">Monitorización en <span class="text-muted">tiempo real</span></h2>
                  <p class="lead">Consulta cómo avanzan tus crawlers en tiempo real y toda la información sobre ellos.</p>
                </div>
                <div class="col-md-5 col-md-pull-7">
                  <img class="featurette-image img-responsive center-block" src="./fotos/monitorization.png" alt="Generic placeholder image"/>
                </div>
              </div>
            </hr>

              <hr class="featurette-divider">

              <div class="row featurette">
                <div class="col-md-7">
                  <h2 class="featurette-heading">Busca resultados <span class="text-muted">y descarga </span></h2>
                  <p class="lead">Busca los resultados de cualquiera de tus crawlers y descarga los resultados de forma sencilla directamente en tu ordenador.</p>
                </div>
                <div class="col-md-5">
                  <img class="featurette-image img-responsive center-block" src="./fotos/download.png" alt="Generic placeholder image"/>
                </div>
              </div>
            </hr>


              <!-- /END THE FEATURETTES -->
          </div>
