<div class="Imagecontainer">
	<div class="row">


		<div
			class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1
  col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
			<div class="table-responsive">
				<h2>
					<b> Images of {{container.projectSelected.name}} </b> <small>
						<button data-toggle="modal" data-target="#editImage" class="btn btn-info"
							style="background-color: #0288D1; float: right;"
							ng-click="container.imageSelected={}; container.vaciarCamposImages();" >New
							image</button>
					</small>
				</h2>
				<table id="imagesTable" class="table  table-striped">

					<thead>
					<tr>
						<th>Name</th>
						<th>Edit</th>
						<th>Delete</th>
					</tr>
					</thead>
					<tbody>

						<tr id="image-{{$index}}" style="background-color: #ffffff;"
							ng-repeat="image in images">
							<td style="padding-top: 14px;"><a  href="#"  ng-click="container.imageSelected=image;imageSelected=image;container.goToImage(image); container.selectedListProjects(3)"><b>{{image.name}}</b></a></td>
							<td style="padding-top: 14px;"><p data-placement="top" data-toggle="tooltipImage"
									title="#editImage">
									<button class="btn btn-primary btn-xs" data-title="#editImage"
										data-toggle="modal" data-target="#editImage"
										style="background-color: #0288D1;"
										ng-click="container.imageSelected=image;imageSelected=image; container.setCamposEditImage(image); emptyimageMessage(); ">
										<span class="glyphicon glyphicon-pencil"></span>
									</button>
								</p></td>
							<td style="padding-top: 14px;"><p data-placement="top" data-toggle="tooltipImage"
									title="DeleteImage">
									<button class="btn btn-danger btn-xs" data-title="DeleteImage"
										data-toggle="modal" data-target="#DeleteImage"
										ng-click="container.imageSelected=image;imageSelected=image; ">
										<span class="glyphicon glyphicon-trash"></span>
									</button>
								</p></td>
						</tr>

					</tbody>

				</table>
				<!--
				<div class="clearfix"></div>
				<ul class="pagination pull-right">
					<li class="disabled"><a href="#"><span
							class="glyphicon glyphicon-chevron-left"></span></a></li>
					<li class="active"><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#"><span
							class="glyphicon glyphicon-chevron-right"></span></a></li>
				</ul>
-->
			</div>
		</div>

	</div>
</div>


<div class="modal fade" id="editImage" tabindex="-1" role="dialog"
	aria-labelledby="editImage" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				</button>
				<h4 class="modal-title custom_align" id="Heading">Your
					Image</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<input id="imageName" required="required" class="form-control " type="text"
						placeholder="Type the name"></input>
				</div>
				<div id="messageImage"></div>
				
			</div>
			<div class="modal-footer ">
				<button type="button" class="btn btn-info btn-lg"
					style="width: 100%;" ng-click="container.editImage()">
					<span class="glyphicon glyphicon-ok-sign"></span> Save
				</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>




<div class="modal fade" id="DeleteImage" tabindex="-1" role="dialog"
	aria-labelledby="editImage" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				</button>
				<h4 class="modal-title custom_align" id="Heading">Delete this
					entry</h4>
			</div>
			<div class="modal-body">

				<div class="alert alert-danger">
					<span class="glyphicon glyphicon-warning-sign"></span> Are you sure
					you want to delete this Record?
				</div>

			</div>
			<div class="modal-footer ">
				<button type="button" class="btn btn-success"
					ng-click="container.deleteImage()">
					<span class="glyphicon glyphicon-ok-sign"></span> Yes
				</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">
					<span class="glyphicon glyphicon-remove"></span> No
				</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
