<!DOCTYPE HTML>
<html ng-app="crawlers" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
	crossorigin="anonymous" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>

<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!-- Placed at the end of the document so the pages load faster -->
<link rel="stylesheet" type="text/css" href="./estilos/estilos.css" />
<title>101 Crawlers</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body ng-controller="ContainerController as container">

		<section class="row" id="contentBody">
			<div id="index" class="navbar-wrapper">
				<div class="container-fluid">
					<!-- Menu -->
					<nav class="navbar navbar-fixed-top">
						<div class="container">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed"
									data-toggle="collapse" data-target="#navbarDerecha"
									aria-expanded="false" aria-controls="navbar">
									<span class="sr-only">Toggle navigation</span> <span
										class="icon-bar"></span> <span class="icon-bar"></span> <span
										class="icon-bar"></span>
								</button>
								<a class="navbar-brand" ng-click="container.selectedTab(2)"
									href="#"> <img id="logo" src="./fotos/Logo.png" alt="Logo" /></a>
							</div>
							<div id="navbarDerecha" class="navbar-collapse collapse">

								<ul class="nav navbar-nav">

									<li ng-class="{ active: container.isSelected(2) }"><a
										href="#" ng-click="container.selectedTab(2)" class="">101Crawlers</a></li>

									<li id="misCrawMenu"
										ng-class="{ active: container.isSelected(1) }"
										style="display: none;"><a href="#"
										ng-click="container.ProjectsOfUser() || container.selectedTab(1) || container.selectedListProjects(1)"
										class="">My projects</a></li>

									<li ng-class="{active:container.isSelected(3)}"><a
										href="#" ng-click="container.selectedTab(3)  " role="button"
										aria-haspopup="true" aria-expanded="false"> Who we are</a></li>
									<li ng-class="{active:container.isSelected(4)}"><a
										href="#" ng-click="container.selectedTab(4)" role="button"
										aria-haspopup="true" aria-expanded="false"> Contact us </a></li>
								</ul>

								<ul class="nav navbar-nav navbar-right">
									<li id="liLogin"><a data-toggle="modal"
										data-target="#myModal" href=""> <span
											class="glyphicon glyphicon-user" aria-hidden="true"></span>
											Log in
									</a>
									<li class="dropdown" id="liUser"
										ng-class="{active:container.isSelected(5)}"
										style="display: none;"><a href="#"
										class="dropdown-toggle" data-toggle="dropdown" role="button"
										aria-haspopup="true" aria-expanded="false">{{container.user}}
											<span class="caret"></span>
									</a>
										<ul class="dropdown-menu">
											<li><a ng-click="container.selectedTab(5)" href="#">Profile</a></li>
											<li><a ng-click="container.salir()" href="#">Log out</a></li>
										</ul></li>
									</li>
								</ul>

							</div>
						</div>
					</nav>
				</div>

			</div>
			<crawlers ng-show="container.showProjects()"></crawlers>
			<home ng-show="container.isSelected(2)"></home>
			<nosotros ng-show="container.isSelected(3)"></nosotros>
			<contacto ng-show="container.isSelected(4)"></contacto>
			<perfil ng-show="container.isSelected(5)"></perfil>
			<images ng-show="container.showImages()"></images>
			<containers ng-show="container.showContainers()"></containers>
			<containeritem ng-show="container.showContainerItem()"></containeritem>
			
			<!-- Modal para loguearse, aparece cuando se clica login -->

			<div class="modal fade" id="myModal" role="dialog">
				<div class="modal-dialog">
					<div class="row">
						<div class="col-lg-24">
							<div class="panel panel-login"
								ng-controller="RegistroLoginCtrl as formulario">
								<div class="panel-heading">
									<div class="row">
										<div class="col-xs-6">
											<a href="#" class="active" id="login-form-link">Log in</a>
										</div>
										<div class="col-xs-6">
											<a href="#" id="register-form-link">Register</a>
										</div>
									</div>
								</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-lg-12">
											<form id="login-form" name="LoginForm"
												ng-submit="formulario.comprobarCamposLogin() || container.setUser()"
												role="form" style="display: block;">


												<div class="form-group">
													<div class="input-group input-group-lg">
														<span class="input-group-addon" id="sizing-addon1">
															<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
														</span> <input type="text" name="usernameLogin"
															id="usernameLogin" tabindex="1" class="form-control"
															placeholder="username"
															ng-model="formulario.user" required="true" />
													</div>
												</div>

												<div class="form-group">
													<div class="input-group input-group-lg">
														<span class="input-group-addon" id="sizing-addon1">
															<span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
														</span> <input type="password" name="passwordLogin"
															id="passwordLogin" tabindex="2" class="form-control"
															placeholder="password" required="true" />
													</div>
												</div>
												<ul class="list-group">
													<li class="list-group-item"><span class="parrafo-gris">Remember
													</span>{{formulario.user}} <span class="parrafo-gris">for
															following uses</span>
														<div class="material-switch pull-right">
															<input id="rememberMe" name="rememberMe" type="checkbox" />
															<label for="rememberMe" class="label-info"></label>
														</div></li>
												</ul>
												<div class="form-group">
													<div class="row">
														<div class="col-sm-6 col-sm-offset-3">
															<input type="submit" name="login-submit"
																id="login-submit" tabindex="4"
																class="form-control btn btn-login" value="Log in"
																required="true" />
														</div>
													</div>
												</div>
												<div class="form-group">
													<div class="row">
														<div class="col-lg-12">
															<div class="text-center">
																<a tabindex="5" class="forgot-password">Forgot
																	password?</a>
															</div>
														</div>
													</div>
												</div>
											</form>
											<form id="register-form" name="registerForm"
												ng-submit="formulario.comprobarCamposRegistro(registerForm.$valid)"
												style="display: none;">
												<div class="form-group">
													<div class="input-group input-group-lg">
														<span class="input-group-addon" id="sizing-addon1">
															<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
														</span> <input type="text" name="usernameRegister"
															id="usernameRegister" tabindex="1" class="form-control"
															placeholder="User" ng-model="formulario.user"
															required="true" />
													</div>
												</div>
												<div class="form-group">
													<div class="input-group input-group-lg">
														<span class="input-group-addon" id="sizing-addon1">@</span>
														<input type="email" name="emailRegister"
															ng-model="formulario.email" id="emailRegister"
															tabindex="1" class="form-control" placeholder="Email"
															required="true" />
													</div>
												</div>
												<div class="form-group">
													<div class="input-group input-group-lg">
														<span class="input-group-addon" id="sizing-addon1">
															<span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
														</span> <input type="password" name="passwordRegister"
															ng-model="formulario.password" id="passwordRegister"
															tabindex="2" class="form-control"
															placeholder="password (size 5-25, no special characters)"
															ng-Change="formulario.colorPswdRepeat()" required="true"
															pattern="[A-Za-z0-9-_.=/@+:]{5,25}" />
													</div>
												</div>

												<div class="form-group">
													<div class="input-group input-group-lg">
														<span class="input-group-addon" id="sizing-addon1">
															<span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
														</span> <input type="password" name="confirmPassword"
															id="confirmPassword" tabindex="2" class="form-control"
															placeholder="repeat the password"
															ng-model="formulario.repeatPswd"
															ng-Change="formulario.colorPswdRepeat()" required="true" />
													</div>
												</div>
												<div class="alert alert-info" role="alert">By clicking
													Register, you accept the Terms and you confirm that you
													have read our Data Policy, including the use of cookies.</div>

												<div class="form-group">
													<div class="row">
														<div class="col-sm-6 col-sm-offset-3">
															<input type="submit" name="register-submit"
																id="register-submit" tabindex="4"
																class="form-control btn btn-register"
																value="Register now" />
														</div>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<footer id="footer">
			<p>
				&copy; 2016 101Crawlers, Inc. &middot; <a href="#">Privacy</a>
				&middot; <a href="#">Terms</a>
			</p>
		</footer>

</body>
</html>
